<% @posts.each do |post|  %>
  <tr >
    <td class="py-4 pr-3 pl-4 text-sm font-medium sm:pl-6 ">
      <div>
        <%= post.title  %>
    </td>
    <td class= "py-4 pr-3 pl-4 text-sm font-medium sm:pl-6">
      <div class="">
        <% post.topics.each do |topic| %>
          <%= link_to topic.title, dashboard_topic_path(topic), class:"text-indigo-600 shadow rounded-full p-2 m-1 inline-block" %>
        <% end %>
      </div>
        <%# = link_to post.topics.map(&:title).join(', '), dashboard_topic_path(post.topics), class:"text-indigo-600"  %>
    </td>
    <td class="flex gap-2 py-3.5 pr-3 pl-4">
      <%= link_to dashboard_post_path(post.id), class: "p-2 bg-white shadow rounded-full"  do %>
        <%= phosphor_icon "pencil", class: "h-4 w-4 text-indigo-600" %>
      <% end  %>
        <%= button_to post_path(post.id),
            method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"},
            class: "p-2 bg-white shadow rounded-full" do %>
              <%= phosphor_icon "trash", class: "h-5 w-5 text-red-500" %>
        <% end %>
    </td>
  </tr>
<% end %>
