

<%= render "shared/page_heading", heading: @topic.title  %>
<%# @topic.inspect  %>
<% if @topic.user == current_user  %>
  <%= link_to dashboard_topic_path(@topic), class:"flex text-indigo-600 cursor-pointer p-2 m-2" do %>
    <%= phosphor_icon "pencil" %> Edit
  <% end %>
<% end %>
<div class="grid grid-cols-4 gap-3 p-4">
  <div class="col-span-1">
    <%= render "sidebar", topic: @topic %>
  </div>
  <div class="col-span-3">
    <%= turbo_frame_tag "content_frame" do %>
      <%= sanitize(
        highlight_code(@topic.description),
        tags: %w[div span button pre code br table tbody th tr td ul ol li h2 h3 em ],
        attributes: %w[class data-controller data-action data-lang]
      )
    %>
    <% end %>
  </div>
</div>
