<% content_for :above do %>
  <%= render "dashboard/shared/archives_top_menu"  %>
<% end %>

<%= render "dashboard/shared/layout" do %>
  <div class="flex styled-border-b">
    <h2 class="text-4xl grow">Parts</h2>
    <%= link_to new_dashboard_part_path, class:"inline-flex items-center btn-primary"  do %>
      <%= phosphor_icon "plus", class:"h-4 w-4 text-white"%> Create Part
    <% end  %>
  </div>
    <div class="my-2 mb-3">
    <%= form_with url: dashboard_parts_path, method: :get, local: true do |f| %>
      <%= f.text_field :search, value: params[:search],
          placeholder: "Search by keyword",
          class: "pb-1 outline-none border-b border-gray-400",
          data: { action: "input->onchange-search#inputOrChange change->onchange-search#inputOrChange" } %>
      <%= f.submit "Search", name: nil, class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    <% end %>
  </div>
  <%= render "dashboard/parts/index/table"  %>
  <div class="flex justify-center">
    <%= will_paginate @parts  %>
  </div>
<% end %>
