<% content_for :above do %>
  <%= render "dashboard/shared/archives_top_menu"  %>
<% end %>

<%= render "dashboard/shared/layout" do %>
  <%= render "shared/breadcrumbs", links: [
      { text: @post.title, url: dashboard_post_path(@post) },
      { text: @part.title}
    ]
  %>
  <%= render "dashboard/shared/title", title: @part.title %>
<div class="container mx-auto">
  <%= simple_form_for [@post, @part], url: dashboard_post_part_path(@post, @part) do |f| %>
    <%= f.input :title %>
    <div class="rounded-md bg-white px-3 pt-2.5 pb-1.5 outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600 mb-2 string optional topic_name">
      <label class="block text-xs font-medium text-gray-900 string optional block text-sm/6 font-medium text-gray-900 mb-2" for="topic_name">Description</label>
      <div data-controller="tinymce" class="mb-2">
        <%= f.text_area :description, rows: 15, data: { tinymce_target: "textarea" } %>
      </div>
    </div>
    <%= f.submit class: "cursor-pointer rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
  <% end %>
</div>
<% end %>
