<% content_for :above do %>
  <%= render "dashboard/shared/archives_top_menu"  %>
<% end %>

<%= render "dashboard/shared/layout" do %>
  <div class="flex styled-border-b">
    <h2 class="text-4xl grow">Posts</h2>
    <%= link_to new_dashboard_post_path, class:"inline-flex items-center btn-primary"  do %>
      <%= phosphor_icon "plus", class:"h-4 w-4 text-white"%> Create Post
    <% end  %>
  </div>
  <div class="my-2 mb-3">
    <%= form_with url: dashboard_posts_path, method: :get, local: true do |f| %>
      <%= f.text_field :search, value: params[:search], placeholder: "Search by keyword", class: "pb-1 outline-none border-b border-gray-400" %>
      <%= f.submit "Search", name: nil, class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    <% end %>
  </div>
  <%= render "dashboard/posts/index/card"  %>
  <div class="flex justify-center">
    <%= will_paginate @posts  %>
  </div>
<% end %>
