 <div class="mt-3 p-5 rounded-xl shadow bg-white">
  <div class="flex justify-between items-center">
    <h3 class="heading-underlined">Parts in this Post</h3>
    <button command="show-modal" commandfor="dialog" class="inline-flex items-center btn-primary">
      <%= phosphor_icon "plus"  %> Create part
    </button>
  </div>
  <ul role="list" class="mt-3 grid grid-cols-1 gap-5 ">
    <% @post.parts.order(:position).each do |part|  %>
    <li class="flex rounded-md shadow-xs border border-gray-200 bg-neutral-50">
      <div class="flex w-full items-center p-2">
        <%= link_to part.title, dashboard_post_part_path(@post, part),
          class:"font-semibold text-sm text-gray-700 grow"%>

          <% unless part.first? %>
            <%= button_to move_up_dashboard_post_part_path(@post, part),
              method: :patch,
              class: "p-2 bg-white shadow rounded-full" do %>
                <%= phosphor_icon "arrow-up", class: "h-5 w-5 text-blue-500" %>
            <% end %>
          <% end %>
          <% unless part.last? %>
            <%= button_to move_down_dashboard_post_part_path(@post, part),
              method: :patch,
              class: "p-2 bg-white shadow rounded-full" do %>
                <%= phosphor_icon "arrow-down", class: "h-5 w-5 text-blue-500" %>
            <% end %>
          <% end %>
      </div>
    </li>
    <% end  %>
  </ul>
  <p class="text-xs text-gray-600 mt-3">To include/exclude a part, go to part edit page</p>
</div>
