
<%= render "devise/shared/centered_container_with_bg" do %>
  <turbo-frame id="flash">
    <%= render 'shared/flash' %>
  </turbo-frame>
  <%= render "shared/logo"  %>
  <h2 class="heading-underlined">Sign in to your account</h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%# f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>


    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  <% end %>

  <div class="flex justify-evenly">
    <%= render "devise/shared/links" %>
  </div>
<% end %>
