<%= turbo_frame_tag "article_frame" do %>
  <div class="grid gap-3">
    <h2 class="text-3xl"><%= @part.title %></h2>
    <%= sanitize(
      highlight_code(@part.description),
          tags: %w[div span button pre code br table tbody td ul ol li h2 h3 em tr],
          attributes: %w[class data-controller data-action data-lang]
        )
    %>
  </div>

    <div class="grid grid-cols-2 gap-5 p-5">
    <% if @prev_part %>
      <%= link_to dashboard_post_part_path(@prev_part.post_id, @prev_part), class: "flex flex-col gap-1 border border-gray-400 bg-gray-100 p-2", data: { turbo_frame: "article_frame" } do %>
        <span>← Previous </span>
        <span><%= @prev_part.title %></span>
      <% end %>
    <% end %>

    <% if @next_part %>
      <%= link_to dashboard_post_part_path(@next_part.post, @next_part), class: "flex flex-col gap-1 border border-gray-400 bg-gray-100 p-2 text-right", data: { turbo_frame: "article_frame" } do %>
        <span>Next →</span>
        <span><%= @next_part.title %></span>
      <% end %>
    <% end %>
    </div>

<% end %>
<%# link_to 'Back to parts', article_parts_path(@article) %>
