



<%# = params.inspect  %>
<section class="bg-center bg-no-repeat bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg')] bg-gray-700 bg-blend-multiply">
  <div class="px-4 mx-auto max-w-screen-xl text-center py-12 lg:py-12">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Feed Your Curiosity, Expand Your Mind</h1>
    <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Search Topics That Spark Your Curiosity.</p>
    <div class="max-w-128 mx-auto flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
      <div class="relative">
        <!--<%# = simple_form_for :search, url: discover_index_path,
          method: :get, html: { data: { turbo_frame: "topics_search" },
          wrapper: false, class:"flex flex-row gap-4 w-full  w-128" } do |f| %>
          <div class="absolute grid grid-cols-1">
             <%# = f.select :search_by, [["User", "user"], ["Topic", "topic"], ["Collection","collection"]],
            { include_blank: "Select type" }, { selected: params[:search_by] || "user"} %>
          </div>
          <div class="pt-8 pb-3 px-3 bg-white flex">
            <%# = f.input :q, wrapper: false, placeholder: "Ruby on Rails", label: false, input_html: {class: "block w-full rounded-md bg-white  text-base text-gray-900 outline-none placeholder:text-gray-400 sm:text-sm/6"} %>
            <div class="inline-flex text-sm items-center">
              <%# = phosphor_icon "magnifying-glass", class:"w-4 h-4" %>Search
            </div>
          </div>
        <%# end %> -->

        <%= form_tag(discover_index_path, method: :get, data: { turbo: false }, class: "bg-white") do %>
          <%= select_tag :search_by, options_for_select([["User", "user"], ["Topic", "topic"], ["Collection", "collection"]], params[:search_by]), include_blank: "Select type" %>
          <%= text_field_tag :q, params[:q], placeholder: "Enter keyword…" %>
          <%= submit_tag "Search" %>
        <% end %>
      <div>
  </div>
</div>

          <%# = simple_form_for :search, url: discover_index_path,
              method: :get, html: { data: { turbo_frame: "topics_search" },
              wrapper: false, class:"flex flex-row gap-4 w-full" } do |f| %>
            <%# = f.input :q, wrapper: false, label: false, input_html: {class: "border border-white rounded-xl text-white p-3"} %>
            <%# = f.button :submit, "Search" %>
          <%# end %>

        </div>
    </div>
</section>


  <%= render "discover/default_content"  %>
