<% content_for :above do %>
  <%= render "dashboard/shared/archives_top_menu"  %>
<% end %>
<%= render "dashboard/shared/layout" do %>
  <%= render "shared/breadcrumbs", links: [
      { text: "All Topics", url: dashboard_topics_path },
      { text: "Visit #{@orig_topic.title} Front Page", url: username_topic_path(@orig_topic.user.username, @orig_topic), turbo_frame: "_top" }
    ]
  %>
  <%= render "dashboard/shared/title", title: @old_title %>
  <%= simple_form_for @topic, url: dashboard_topic_path(@topic) do |f| %>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-2">
      <!-- CONTENT -->
      <div class="col-span-2">
        <%= render "dashboard/topics/show/form_part", f:f  %>
      </div>
      <!-- END CONTENT -->
      <!-- SIDE BAR-->
      <div class="col-span-1 flex flex-col gap-3 bg-white">
        <%= render "dashboard/topics/show/form_part_add_to_collection", f:f  %>
        <%= render "dashboard/topics/show/post_in_this_topic"  %>
      </div>
      <!-- END SIDE BAR -->
    </div>
  <% end %>
<% end %>
<%= render 'shared/modal' do %>
  <%# render 'dashboard/posts/form'  %>
<% end %>
