<div class="bg-indigo-600 p-5 -mb-[50px] min-h-[150px]">
  <div class="container mx-auto">
    <%= render "shared/breadcrumbs", links: [
      { text: @topic.title }
      ]
    %>

    <div class="flex justify-start">
      <h2 class="text-white mt-3 text-3xl grow"><%= @topic.title  %></h2>
    </div>
  </div>
</div>

<%= simple_form_for @topic, url: dashboard_topic_path(@topic) do |f| %>
<div class="container mx-auto">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-2">
    <div class="col-span-2">
      <div class="p-4">

          <%= f.input :title %>
          <%= f.input :slug %>
          <%= f.input :visibility, as: :select,
            collection: Topic.visibilities.keys.map { |k| [k.humanize.capitalize, k] },  include_blank: false%>
          <div class="rounded-md bg-white px-3 pt-2.5 pb-1.5 outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600 mb-2 string optional topic_name">
            <label class="block text-xs font-medium text-gray-900 string optional block text-sm/6 font-medium text-gray-900 mb-2" for="topic_name">Description</label>
            <div data-controller="tinymce" class="mb-2">
              <%= f.text_area :description, rows: 15, data: { tinymce_target: "textarea" } %>
            </div>
          </div>
          <%#  f.input :category_id,  collection: Category.all, label_method: :name, include_blank: false %>
          <%= f.submit class: "cursor-pointer rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>

        </div>
    </div>
    <div class="col-span-1 flex flex-col gap-3 bg-white">
      <div class="bg-[#f6f6f6] p-5 rounded-sm">
        Attach to collection:
          <%= f.collection_check_boxes :collection_ids, Collection.all, :id, :title do |cb| %>
            <div class="flex items-center space-x-2">
              <%= cb.check_box %>
              <%= cb.label class:"font-medium text-gray-900" %>
              <%= link_to dashboard_collection_path(cb.value), class:"inline-flex shrink-0 items-center rounded-full bg-white px-1.5 py-0.5 text-xs font-medium  inset-ring inset-ring-blue-500" do %>
                <%= phosphor_icon "arrow-u-up-right", class: "h-4 w-4 text-blue-500" %>
              <% end %>
            </div>
          <% end %>
      </div>
      <div class="bg-[#f6f6f6] p-5 rounded-sm">
        Associated Posts
        <ul>
          <li>Sample Post</li>
        </ul>
      </div>
    <%# END OF SIDE BAR%>
    </div>
  </div>
<% end %>
  <%= render 'shared/modal' do %>
    <%# render 'dashboard/posts/form'  %>
  <% end %>

<%#
        <div class="flex gap-3 items-center">
          <div class="group grid size-4 grid-cols-1">
            <input id="comments" type="checkbox" name="comments" checked aria-describedby="comments-description" class="col-start-1 row-start-1 appearance-none rounded-sm border border-gray-300 bg-white checked:border-indigo-600 checked:bg-indigo-600 indeterminate:border-indigo-600 indeterminate:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 forced-colors:appearance-auto" />
            <svg viewBox="0 0 14 14" fill="none" class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-disabled:stroke-gray-950/25">
              <path d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-0 group-has-checked:opacity-100" />
              <path d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-0 group-has-indeterminate:opacity-100" />
            </svg>
          </div>
          <label for="comments" class="font-medium text-gray-900">Ruby on Rails</label>
        </div> %>
<!--
    <nav aria-label="Breadcrumb" class="flex">
      <ol role="list" class="flex items-center space-x-4">
        <li>
          <div>
            <a href="#" class="text-white hover:text-gray-100">
              <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 shrink-0">
                <path d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z" clip-rule="evenodd" fill-rule="evenodd" />
              </svg>
              <span class="sr-only">Home</span>
            </a>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="size-5 shrink-0 text-gray-300">
              <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
            </svg>
            <%#= link_to @topic.category.name, dashboard_category_path(@topic.category), class: "ml-4 text-sm font-medium text-white"  %>
          </div>
        </li>

        <li>
          <div class="flex items-center">
            <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="size-5 shrink-0 text-gray-300">
              <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
            </svg>
            <span class="ml-4 text-sm font-medium text-white"><%# @topic.name  %></span>
          </div>
        </li>

      </ol>
    </nav>
    -->
